@import 'tailwindcss';

.btnSolidBlue {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btnSolidBlue:hover {
  background: #0056b3;
  transform: translateY(-2px);
}
.btnSolidBlue:active {
  transform: translateY(0);
}

.btnSolidOrange {
  background: Orangered;
  color: white;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btnSolidOrange:hover {
  background: orangered;
  transform: translateY(-2px);
}
.btnSolidOrange:active {
  transform: translateY(0);
}
.btnSolidOrange:disabled {
  background-color: #e2e8f0; /* グレーアウト */
  color: #94a3b8;
  cursor: not-allowed; /* 禁止マークのカーソル */
  border-color: #cbd5e1;
}

.btnOutline {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 12px 32px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.btnOutline:hover {
  background: #007bff;
  color: white;
  transform: translateY(-2px);
}
.btnOutline:active {
  transform: translateY(0);
}

.btnOutlineMini {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
