.container {
  padding: 20px;
}

.table {
  border: solid 1px gray;
  border-collapse: collapse;
}

.table td {
  border: solid 1px gray;
  padding: 10px 5px;
}

.output {
  border: solid 3px gold;
  padding: 20px 10px;
  margin: 20px 0;
}

.form {
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px 0;
}

.form p {
  margin-top: 0;
}
